name: Build and Deploy

on:
  push:
    branches:
      - main
env:
  NEXT_PUBLIC_CORS_URL: ${{secrets.NEXT_PUBLIC_CORS_URL}}
  NEXT_PUBLIC_GA_MEASUREMENT_ID: ${{secrets.NEXT_PUBLIC_GA_MEASUREMENT_ID}}
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install rsync
        uses: GuillaumeFalourd/setup-rsync@v1.1
      - run: rsync --version
      - name: Checkout Main Branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install Dependencies
        run: yarn install

      - name: Build Website
        run: yarn build

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: "unnecessary"

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts

      - name: Deploy with rsync
        run: rsync -avz --delete . ${{ secrets.USERNAME }}@${{ secrets.HOST }}:${{ secrets.TARGET_DIRECTORY }}
